		body {
			background-color: lightgray;
}
		
		body > div {
			border: 1px solid darkgray;
			background-color: antiquewhite;
		}
		
		div {
			border: 1px solid lightgray;
			border-radius: 8px;
			padding: 8px;
			margin: 4px;
		}